@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh
}


nav {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    margin: 30px;
}

nav > img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding: 15px;
}

iframe {  
    width: 310px;
    height: 627px;
}