@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: top bottom;
    background-repeat: no-repeat;
}

div#container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;  
}

div#container-botao {
    position: absolute;
    top: 20px;
    right: 20px;
}

section#celular {
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    width: 310px;
    height: 625px;   
}

section#celular iframe {
    width: 267px;
    height: 471px;
    background-size: cover;

    position: relative;
    top: 80px;
    left: 22px;
}

section#botao {
    display: flex;
    flex-direction: column;
}

section#botao img {
    width: 80px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.61);
    box-sizing: border-box;
}

section#botao :hover {
   transform: translate(-2px, -2px); 
}


